{% if page == 'send_new_key' %}
  <h2>Hello {{username|title}},</h2>
  <h3>Click this link to confirm your account:</h3>
  <h4>
    <ul>
      <li><a href="http://{{host}}/confirmation/?clc_code={{clc_code}}">http://{{host}}/confirmation/?clc_code={{clc_code}}</a></li>
    </ul>
  </h4>
{% elif page == 'confirmed' %}
  <h2>Hello {{username|title}},</h2>
  <h3>You have successfully confirmed your account.</h3>
  <span>
    <pre>
      ---------------------------------------
      Features        Basic   Plus    Premium
      ---------------------------------------
      cool thing        x       x       x
      ---------------------------------------
      special thing             x       x
      ---------------------------------------
      amazing thing                     x
      ---------------------------------------
    </pre>
      <h4>You have a Basic membership. You can upgrade to Plus or Premium.</h4>
      <h5><a href={% url 'clc_reg:purchase_membership' %}Click here</a></h5>
  </span>
{% endif %}
