{% extends 'clc_reg/base.html' %}

{% block messages %}

  {% if message == "pending" %}
    <div class="orange_black_banner">You need to confirm your account. <a href="{% url 'clc_reg:send_new_key' %}">Send new key</a></div>
  {% elif message == "confirmed" %}
    <div class="green_white_banner">Your account is confirmed.</div>
  {% elif message == "expired" %}
    <div class="red_white_banner">Your confirmation code is expired. <a href="{% url 'clc_reg:send_new_key' %}">Send new key</a></div>
  {% elif message == "error" %}
    <div class="red_white_banner">There was a problem confirming your account. <a href="{% url 'clc_reg:send_new_key' %}">Send new key</a></div>
  {% elif message == "verified" %}
    <div class="blue_white_banner">Your account is already verified.</div>
  {% elif message == "resent" %}
    <div class="blue_white_banner">Your new code was sent.</div>
  {% elif message == "logout" %}
    <div class="blue_white_banner">You've been logged out.</div>
  {% endif %}

{% endblock %}

{% block content %}

  <div class="page_content">
    {% if user.is_authenticated %}
      <h1>Unsecured page, anonymous ok</h1>
      <h2>Hello <a href="{% url 'clc_reg:my_profile' %}">{% if user.first_name %}{{ user.first_name|title }}{% else %}{{ user.username }}{% endif %}</a>,</h2>
      <h3>Go to: <a href="{% url 'clc_reg:special_page' %}">Secured Page</a> <i>version 1</i></h3>
      <h3>Go to: <a href="{% url 'clc_reg:special_page2' %}">Secured Page</a> <i>version 2</i></h3>
      {% if user.is_confirmed %}
      <h3>Go to: <a href="{% url 'clc_reg:plus' %}">Plus</a></h3>
      <h3>Go to: <a href="{% url 'clc_reg:premium' %}">Premium</a></h3>
      {% endif %}
    {% else %}
      <h1>Unsecured page, anonymous ok</h1>
      <h2>Hello friend</h2>
    {% endif %}
  </div>

{% endblock %}
