{% extends 'clc_reg/base.html' %}

{% block content %}

{% if message == "fubar" %}
  <div style="background-color:green;color:white;">FUBAR</div>
{% endif %}

<div class="two_column">
  <div class="page_image">
    {% if user.membership_level == "Basic" %}
      <img src="https://lar-mo.com/images/pigs_all_three0-basic_color.png"/>
    {% elif user.membership_level == "Plus" %}
      <img src="https://lar-mo.com/images/pigs_all_three1-plus_color.png"/>
    {% elif user.membership_level == "Premium" %}
      <img src="https://lar-mo.com/images/pigs_all_three2-premium_color.png"/>
    {% endif %}
  </div>
  <div class="page_content">
    <h1>My Profile</h1>
    <div>
      <span class="my_profile_label">First Name</span>
      <span><input type="text" name="first_name" value="{{user_info.first_name}}"></span>
    </div>
    <div>
      <span class="my_profile_label">Last Name</span>
      <span><input type="text" name="last_name" value="{{user_info.last_name}}"><span>
    </div>
    <div>
      <span class="my_profile_label">Address 1</span>
      <span><input type="text" name="address2" value="{{billing_info.address1}}"><span>
    </div>
    <div>
      <span class="my_profile_label">Address 2</span>
      <span><input type="text" name="address2" value="{{billing_info.address2}}"><span>
    </div>
    <div>
      <span class="my_profile_label">City</span>
      <span><input type="text" name="city" value="{{billing_info.city}}"><span>
    </div>
    <div>
      <span class="my_profile_label">State</span>
      <span><input type="text" name="state" value="{{billing_info.state}}"><span>
    </div>
    <div>
      <span class="my_profile_label">Country</span>
      <span><input type="text" name="country" value=""><span>
    </div>
    <div>
      <span class="my_profile_label">Zip Code</span>
      <span><input type="text" name="zipcode" value="{{billing_info.zipcode}}"><span>
    </div>
    <p><a href="{% url 'clc_reg:purchases' %}">My Purchases</a></p>
  </div>
</div>

{% endblock %}
