{% extends 'clc_reg/base.html' %}

{% block messages %}

  {% if message == "membership_upgraded" %}
    <div style="background-color:green;color:white;">You have successfully upgraded to Plus.</div>
  {% elif message == "redir_from_premium" %}
  <div style="background-color:orange;color:#333;">
    Are you're looking for the <b>Premium</b> page? <a href="{% url 'clc_reg:upsell' %}">Click here</a> to upgrade.
  </div>
  {% endif %}

{% endblock %}

{% block content %}

<!-- {% if message == "membership_upgraded" %}
  <div style="background-color:green;color:white;">You have successfully upgraded to Plus.</div>
{% elif message == "redir_from_premium" %}
<div style="background-color:orange;color:#333;">
  Are you're looking for the <b>Premium</b> page? <a href="{% url 'clc_reg:upsell' %}">Click here</a> to upgrade.
</div>
{% endif %} -->

  <div class="page_content">
    <h1>Plus page</h1>
    <h2>Hello <a href="{% url 'clc_reg:my_profile' %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</a>,</h2>
    <h3>You have a {{ user.membership_level }} membership.<br>Valid until <span id="expiry_date"></span></h3>
    {% if user.membership_level == "Premium" %}
    <h3>Go to: <a href="{% url 'clc_reg:premium' %}">Premium</a></h3>
    {% endif %}
  </div>

{% endblock %}
