{% extends 'clc_reg/base.html' %}

{% block messages %}

  {% if message == "fubar" %}
    <div style="background-color:green;color:white;">FUBAR</div>
  {% endif %}

{% endblock %}

{% block content %}

  <div class="page_content">
    <h1>Purchase History</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Date of Purchase</th>
        <th>Item Purchased</th>
      </tr>
      {% for purchase in purchases|dictsortreversed:"transaction_date" %}
      <tr>
        <td>{{purchase.id}}</td>
        <td>{{purchase.transaction_date}}</td>
        <td>{{purchase.item_purchased}}</td>
      </tr>
      {% endfor %}
    </table>
    <p>&nbsp;</p>
  </div>

{% endblock %}
