{% extends 'clc_reg/base.html' %}

{% block content %}

  {% if message == "error" %}
    <div style="background-color:red;color:white;">Your username and password did not match.</div>
  {% elif message == "reg_error" %}
    <div style="background-color:red;color:white;">That username is already in-use. Try again.</div>
  {% endif %}
  <div id="container_purchase">
    <div class="page_title">Purchase Membership</div>
    <div>
      <form id="formPurchase" action="{% url 'clc_reg:create_membership' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <div class="purchase_form">
          <span class="form_title">Member Information:</span>
          <div>
            <span>
              <span class="field_title">Membership Type</span>:
              <span><input type="radio" name="membership_type" required value="Plus"{% if user.membership_level == "Plus" %}disabled{% endif %}/> Plus</span>
              <span><input type="radio" name="membership_type" required value="Premium" {% if user.membership_level == "Plus" %}checked{% endif %}/> Premium</span>
            </span>
          </div>
          {% if billing_exists %}
          <div>
            <span class="field_title_newaddr">New Address?</span>
            <span>
              <button id="btnResetForm">Reset form</button>
            </span>
          </div>
          {% endif %}
          <div class="fine_print"><u>Note</u>: This information is retrieved from the database.</div>
          <div>
            <span class="field_title">First Name:</span>
            <span><input type="text" name="firstname" id="firstname" placeholder="" required value="{{request.user.first_name}}"/></span>
          </div>
          <div>
            <span class="field_title">Last Name:</span>
            <span><input type="text" name="lastname" id="lastname" placeholder="" required value="{{request.user.last_name}}"/></span>
          </div>
          <div>
            <span class="field_title">Address 1:</span>
            <span><input type="text" name="address1" id="address1" placeholder="" required value="{% if billing_exists %}{{address1}}{%endif%}"/></span>
          </div>
          <div>
            <span class="field_title">Address 2:</span>
            <span><input type="text" name="address2" id="address2" placeholder="" value="{% if billing_exists %}{{address2}}{%endif%}"/></span>
          </div>
          <div>
            <span class="field_title">City:</span>
            <span><input type="text" name="city" id="city" placeholder="" required value="{% if billing_exists %}{{city}}{%endif%}"/></span>
          </div>
          <div>
            <span class="field_title">State:</span>
            <span><select name="state" required id="state">
              <option value="---" disabled selected>---</option>
              <option value="AL" {% if billing_exists and state == 'AL' %}selected{%endif%}>Alabama</option>
            	<option value="AK" {% if billing_exists and state == 'AK' %}selected{%endif%}>Alaska</option>
            	<option value="AZ" {% if billing_exists and state == 'AZ' %}selected{%endif%}>Arizona</option>
            	<option value="AR" {% if billing_exists and state == 'AR' %}selected{%endif%}>Arkansas</option>
            	<option value="CA" {% if billing_exists and state == 'CA' %}selected{%endif%}>California</option>
            	<option value="CO" {% if billing_exists and state == 'CO' %}selected{%endif%}>Colorado</option>
            	<option value="CT" {% if billing_exists and state == 'CT' %}selected{%endif%}>Connecticut</option>
            	<option value="DE" {% if billing_exists and state == 'DE' %}selected{%endif%}>Delaware</option>
            	<option value="DC" {% if billing_exists and state == 'DC' %}selected{%endif%}>District Of Columbia</option>
            	<option value="FL" {% if billing_exists and state == 'FL' %}selected{%endif%}>Florida</option>
            	<option value="GA" {% if billing_exists and state == 'GA' %}selected{%endif%}>Georgia</option>
            	<option value="HI" {% if billing_exists and state == 'HI' %}selected{%endif%}>Hawaii</option>
            	<option value="ID" {% if billing_exists and state == 'ID' %}selected{%endif%}>Idaho</option>
            	<option value="IL" {% if billing_exists and state == 'IL' %}selected{%endif%}>Illinois</option>
            	<option value="IN" {% if billing_exists and state == 'IN' %}selected{%endif%}>Indiana</option>
            	<option value="IA" {% if billing_exists and state == 'IA' %}selected{%endif%}>Iowa</option>
            	<option value="KS" {% if billing_exists and state == 'KS' %}selected{%endif%}>Kansas</option>
            	<option value="KY" {% if billing_exists and state == 'KY' %}selected{%endif%}>Kentucky</option>
            	<option value="LA" {% if billing_exists and state == 'LA' %}selected{%endif%}>Louisiana</option>
            	<option value="ME" {% if billing_exists and state == 'ME' %}selected{%endif%}>Maine</option>
            	<option value="MD" {% if billing_exists and state == 'MD' %}selected{%endif%}>Maryland</option>
            	<option value="MA" {% if billing_exists and state == 'MA' %}selected{%endif%}>Massachusetts</option>
            	<option value="MI" {% if billing_exists and state == 'MI' %}selected{%endif%}>Michigan</option>
            	<option value="MN" {% if billing_exists and state == 'MN' %}selected{%endif%}>Minnesota</option>
            	<option value="MS" {% if billing_exists and state == 'MS' %}selected{%endif%}>Mississippi</option>
            	<option value="MO" {% if billing_exists and state == 'MO' %}selected{%endif%}>Missouri</option>
            	<option value="MT" {% if billing_exists and state == 'MT' %}selected{%endif%}>Montana</option>
            	<option value="NE" {% if billing_exists and state == 'NE' %}selected{%endif%}>Nebraska</option>
            	<option value="NV" {% if billing_exists and state == 'NV' %}selected{%endif%}>Nevada</option>
            	<option value="NH" {% if billing_exists and state == 'NH' %}selected{%endif%}>New Hampshire</option>
            	<option value="NJ" {% if billing_exists and state == 'NJ' %}selected{%endif%}>New Jersey</option>
            	<option value="NM" {% if billing_exists and state == 'NM' %}selected{%endif%}>New Mexico</option>
            	<option value="NY" {% if billing_exists and state == 'NY' %}selected{%endif%}>New York</option>
            	<option value="NC" {% if billing_exists and state == 'NC' %}selected{%endif%}>North Carolina</option>
            	<option value="ND" {% if billing_exists and state == 'ND' %}selected{%endif%}>North Dakota</option>
            	<option value="OH" {% if billing_exists and state == 'OH' %}selected{%endif%}>Ohio</option>
            	<option value="OK" {% if billing_exists and state == 'OK' %}selected{%endif%}>Oklahoma</option>
            	<option value="OR" {% if billing_exists and state == 'OR' %}selected{%endif%}>Oregon</option>
            	<option value="PA" {% if billing_exists and state == 'PA' %}selected{%endif%}>Pennsylvania</option>
            	<option value="RI" {% if billing_exists and state == 'RI' %}selected{%endif%}>Rhode Island</option>
            	<option value="SC" {% if billing_exists and state == 'SC' %}selected{%endif%}>South Carolina</option>
            	<option value="SD" {% if billing_exists and state == 'SD' %}selected{%endif%}>South Dakota</option>
            	<option value="TN" {% if billing_exists and state == 'TN' %}selected{%endif%}>Tennessee</option>
            	<option value="TX" {% if billing_exists and state == 'TX' %}selected{%endif%}>Texas</option>
            	<option value="UT" {% if billing_exists and state == 'UT' %}selected{%endif%}>Utah</option>
            	<option value="VT" {% if billing_exists and state == 'VT' %}selected{%endif%}>Vermont</option>
            	<option value="VA" {% if billing_exists and state == 'VA' %}selected{%endif%}>Virginia</option>
            	<option value="WA" {% if billing_exists and state == 'WA' %}selected{%endif%}>Washington</option>
            	<option value="WV" {% if billing_exists and state == 'WV' %}selected{%endif%}>West Virginia</option>
            	<option value="WI" {% if billing_exists and state == 'WI' %}selected{%endif%}>Wisconsin</option>
            	<option value="WY" {% if billing_exists and state == 'WY' %}selected{%endif%}>Wyoming</option>
          </select></span>
          </div>
          <div>
            <span class="field_title">Zip Code:</span>
            <span><input type="text" name="zipcode" id="zipcode" placeholder="" required value="{% if billing_exists %}{{zipcode}}{%endif%}"/></span>
          </div>
        </div>
        <br>
        <div class="purchase_form">
          <span class="form_title">Payment Information:</span>
          <div class="fine_print"><u>Note</u>: This information is not stored, it's hardcoded in the HTML for testing.</div>
          <div>
            <span class="field_title">Card Number:</span>
            <span>
              <input type="text" name="creditcard" placeholder="" required pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" title="Invalid Card Number" value="5105105105105100"/>
            </span>
          </div>
          <div>
            <span class="field_title">Expiration:</span>
            <span><select name="expiration_month" id="exp_month" required>
                <option value="---" disabled !selected>---</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10" selected>10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <select name="expiration_year" id="exp_year" placeholder="" required>
                <option value="---" disabled !selected>---</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022" selected>2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
            </span>
          </div>
          <div>
            <span class="field_title">CVV:</span>
            <span>
              <!-- the REGEX pattern does not work.-->
              <!-- Tried changing input type=number but <3, >4 is still accepted -->
              <input type="text" name="cid" maxlength="4" required !pattern="/^[0-9]{3,4}$/" !title="3 or 4 digits" value="567"/>
            </span>
          </div>
        </div>
        <br>
        <div class="purchase"><button type="submit" id="btnPurchase">Purchase Membership</button></div>
      </form>
    </div>
    <br/>
  </div> <!-- end of 'container'-->

  <script type="text/javascript">
    let exp_month = document.querySelector('#exp_month')
    let exp_year = document.querySelector('#exp_year')
    let btnPurchase = document.querySelector('#btnPurchase')
    let date = new Date()
    let month = date.getMonth() + 1 // "+ 1" is offset since function returns 0-11
    let year = date.getFullYear()
    btnPurchase.onclick = function(event) {
      if (exp_year.value < year) {
          alert("You have to select a valid expiration date.")
          event.preventDefault()
      } else if (exp_year.value == year && exp_month.value < month) {
        alert("You have to select a valid expiration date.")
        event.preventDefault()
      }
    }
  </script>

  {% if billing_exists %}
    <script type="text/javascript">
      let btnResetForm = document.querySelector('#btnResetForm')
      let firstname = document.querySelector('#firstname')
      let lastname = document.querySelector('#lastname')
      let address1 = document.querySelector('#address1')
      let address2 = document.querySelector('#address2')
      let city = document.querySelector('#city')
      let state = document.querySelector('#state')
      let zipcode = document.querySelector('#zipcode')
      btnResetForm.onclick = function(event) {
        firstname.value = ''
        lastname.value = ''
        address1.value = ''
        address2.value = ''
        city.value = ''
        state.value = '---'
        zipcode.value = ''
        event.preventDefault()
      }
    </script>
  {% endif %}


{% endblock %}
