{% extends 'clc_reg/base.html' %}

{% block content %}

  {% if message == "error" %}
    <div style="background-color:red;color:white;">Your username and password did not match.</div>
  {% elif message == "reg_error" %}
    <div style="background-color:red;color:white;">That username is already in-use. Try again.</div>
  {% endif %}
  <div id="container_purchase">
    <div class="page_title">Purchase Membership</div>
    <div>
      <form action="{% url 'clc_reg:create_membership' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <div class="purchase_form">
          <span class="form_title">Member Information:</span>
          <div>
            <span>
              <span>Membership Type</span>:
              <span><input type="radio" name="membership_type" required value="Plus"{% if user.membership_level == "Plus" %}disabled{% endif %}/> Plus</span>
              <span><input type="radio" name="membership_type" required value="Premium" {% if user.membership_level == "Plus" %}checked{% endif %}/> Premium</span>
            </span>
          </div>
          <div>
            <span>First Name:</span>
            <span><input type="text" name="firstname" placeholder="" required value="Larry"/></span>
          </div>
          <div>
            <span>Last Name: </span>
            <span><input type="text" name="lastname" placeholder="" required value="Moiola"/></span>
          </div>
          <div>
            <span>Address 1:</span>
            <span><input type="text" name="address1" placeholder="" required value="1234 Any Street"/></span>
          </div>
          <div>
            <span>Address 2:</span>
            <span><input type="text" name="address2" placeholder=""/></span>
          </div>
          <div>
            <span>City:</span>
            <span><input type="text" name="city" placeholder="" required value="Portland"/></span>
          </div>
          <div>
            <span>State:</span>
            <span><select name="state" required>
              <option value="---" disabled selected>---</option>
              <option value="AL">Alabama</option>
            	<option value="AK">Alaska</option>
            	<option value="AZ">Arizona</option>
            	<option value="AR">Arkansas</option>
            	<option value="CA">California</option>
            	<option value="CO">Colorado</option>
            	<option value="CT">Connecticut</option>
            	<option value="DE">Delaware</option>
            	<option value="DC">District Of Columbia</option>
            	<option value="FL">Florida</option>
            	<option value="GA">Georgia</option>
            	<option value="HI">Hawaii</option>
            	<option value="ID">Idaho</option>
            	<option value="IL">Illinois</option>
            	<option value="IN">Indiana</option>
            	<option value="IA">Iowa</option>
            	<option value="KS">Kansas</option>
            	<option value="KY">Kentucky</option>
            	<option value="LA">Louisiana</option>
            	<option value="ME">Maine</option>
            	<option value="MD">Maryland</option>
            	<option value="MA">Massachusetts</option>
            	<option value="MI">Michigan</option>
            	<option value="MN">Minnesota</option>
            	<option value="MS">Mississippi</option>
            	<option value="MO">Missouri</option>
            	<option value="MT">Montana</option>
            	<option value="NE">Nebraska</option>
            	<option value="NV">Nevada</option>
            	<option value="NH">New Hampshire</option>
            	<option value="NJ">New Jersey</option>
            	<option value="NM">New Mexico</option>
            	<option value="NY">New York</option>
            	<option value="NC">North Carolina</option>
            	<option value="ND">North Dakota</option>
            	<option value="OH">Ohio</option>
            	<option value="OK">Oklahoma</option>
            	<option value="OR" selected>Oregon</option>
            	<option value="PA">Pennsylvania</option>
            	<option value="RI">Rhode Island</option>
            	<option value="SC">South Carolina</option>
            	<option value="SD">South Dakota</option>
            	<option value="TN">Tennessee</option>
            	<option value="TX">Texas</option>
            	<option value="UT">Utah</option>
            	<option value="VT">Vermont</option>
            	<option value="VA">Virginia</option>
            	<option value="WA">Washington</option>
            	<option value="WV">West Virginia</option>
            	<option value="WI">Wisconsin</option>
            	<option value="WY">Wyoming</option>
          </select></span>
          </div>
          <div>
            <span>Zip Code:</span>
            <span><input type="text" name="zipcode" placeholder="" required value="97217"/></span>
          </div>
        </div>
        <br>
        <div class="purchase_form">
          <span class="form_title">Payment Information:</span>
          <div>
            <span>Card Number:</span>
            <span><input type="text" name="creditcard" placeholder="" required pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" title="Invalid Card Number" value="4444333322221111"/></span>
          </div>
          <div>
            <span>Expiration:</span>
            <span><select name="expiration_month">
                <option value="---" disabled selected>---</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12" selected>December</option>
              </select>
              <select name="expiration_year" placeholder="" required>
                <option value="---" disabled selected>---</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022" selected>2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select></span>
          </div>
          <div>
            <span>CVV:</span>
            <span>
              <!-- the REGEX pattern does not work.-->
              <!-- Tried changing input type=number but <3, >4 is still accepted -->
              <input type="text" name="cid" maxlength="4" required !pattern="/^[0-9]{3,4}$/" !title="3 or 4 digits" value="563"/>
            </span>
          </div>
        </div>
        <br>
        <div class="purchase"><button type="submit" id="btnPurchase">Purchase Membership</button></div>
      </form>
    </div>
    <br/>
  </div> <!-- end of 'container'-->

{% endblock %}
