{% extends 'clc_reg/base.html' %}

{% block messages %}

  {% if message == "fubar" %}
    <div style="background-color:green;color:white;">FUBAR</div>
  {% endif %}

{% endblock %}

{% block content %}

  <div class="page_content">
    <h1>Purchase History</h1>
    <div class="purchase_history">
      <div>
        <span class="purchase_history_label" id="purchase_history_label1">ID</span>
        <span class="purchase_history_label">Date of Purchase</span>
        <span class="purchase_history_label">Item Purchased</span>
      </div>
      {% for purchase in purchases|dictsortreversed:"transaction_date" %}
      <div>
        <span class="purchase_history_value" id="purchase_history_label1">{{purchase.id}}</span>
        <span class="purchase_history_value">{{purchase.transaction_date}}</span>
        <span class="purchase_history_value">{{purchase.item_purchased}}</span>
      </div>
      {% endfor %}
    </div>
    <p>&nbsp;</p>
  </div>

{% endblock %}
