{% extends 'clc_reg/base.html' %}

{% block messages %}

    {% if user.is_authenticated %}
      <div class="blue_white_banner">You're already logged in.</div>
    {% elif message == "error" %}
      <div class="red_white_banner">Your username and password did not match.</div>
    {% elif message == "reg_error" %}
      <div class="red_white_banner">That username is already in-use. Try again.</div>
      {% elif message == "bot_error" %}
        <div class="red_white_banner">Unauthorized activity.</div>
    {% elif message == "login_required" %}
      <div class="blue_white_banner">You must be logged in.</div>
    {% endif %}

{% endblock %}

{% block content %}

  <div class="page_content">
    <div id="container_reg">
      <h3>Login</h3>
      <form action="{% url 'clc_reg:login_user' %}" method="post">
        \{% \csrf_token %\}
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="text" name="username" placeholder="username" required/>
        <input type="password" name="password" placeholder="password" required autocomplete="off"/>
        <div class="status_block"><button type="submit">Login</button></div>
      </form>

      <h3>Register</h3>
      <form action="{% url 'clc_reg:register_user' %}" method="post" id="reg-form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="text" name="username" placeholder="username" required pattern="\w{3,30}" title="username must be between 3 and 30 characters, all lowercase"/>
        <input type="text" name="email" placeholder="email" required pattern="\w+@\w+\.\w+" title="please enter a properly formatted email address"/>
        <input type="password" id="input_password" name="password" placeholder="password" required autocomplete="off" !pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})" !title="password must include: one lowercase letter, one uppercase letter, one number, and one special character and be at least 8 chars long"/>
        <input type="password" id="input_password2" name="password2" placeholder="retype password" required autocomplete="off"/>
        <input type="text" id="url" name="url"/>
        <div class="status_block"><button type="submit" id="bt_register" class="g-recaptcha" data-sitekey="6Le7xvMfAAAAAOcrdx1vRTdvVAeHPa5GMQIJAnLz" data-callback='onSubmit' data-action='submit'>Register</button></div>
      </form>
    </div> <!-- end of 'container'-->
  </div> <!-- end of 'page_content' -->

  <script type="text/javascript">
    bt_register = document.querySelector('#bt_register')
    input_password = document.querySelector('#input_password')
    input_password2 = document.querySelector('#input_password2')

    bt_register.onclick = function(evt) {
      if (input_password.value != input_password2.value) {
        alert('Those passwords do not match.')
        evt.preventDefault()
      }
    }
  </script>

  <script>
    function onSubmit(token) {
      document.getElementById("reg-form").submit();
    }
  </script>


{% endblock %}
