{% extends 'clc_reg/base.html' %}

{% block content %}

  {% if user.is_authenticated %}
    <div style="background-color:blue;color:white;">You're already logged in.</div>
  {% elif message == "error" %}
    <div style="background-color:red;color:white;">Your username and password did not match.</div>
  {% elif message == "reg_error" %}
    <div style="background-color:red;color:white;">That username is already in-use. Try again.</div>
  {% endif %}
  <div id="container_reg">
    <h3>Login</h3>
    <form action="{% url 'clc_reg:login_user' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{next}}"/>
      <input type="text" name="username" placeholder="username" required/>
      <input type="password" name="password" placeholder="password" required/>
      <div class="status_block"><button type="submit">Login</button></div>
    </form>

    <h3>Register</h3>
    <form action="{% url 'clc_reg:register_user' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{next}}"/>
      <input type="text" name="username" placeholder="username" required pattern="\w{3,15}" title="username must be between 3 and 15 characters, all lowercase"/>
      <input type="text" name="email" placeholder="email" required pattern="\w+@\w+\.\w+" title="please enter a properly formatted email address"/>
      <input type="password" id="input_password" name="password" placeholder="password"/>
      <input type="password" id="input_password2" name="password2" placeholder="retype password"/>
      <div class="status_block"><button type="submit" id="bt_register">Register</button></div>
    </form>
  </div> <!-- end of 'container'-->
  <script type="text/javascript">
    bt_register = document.querySelector('#bt_register')
    input_password = document.querySelector('#input_password')
    input_password2 = document.querySelector('#input_password2')

    bt_register.onclick = function(evt) {
      if (input_password.value != input_password2.value) {
        alert('those passwords do not match')
        evt.preventDefault()
      }
    }
  </script>

{% endblock %}
