{% extends 'clc_reg/base.html' %}

{% block messages %}

  {% if message == "expired" %}
    <div class="orange_black_banner">Your membership has expired.</div>
  {% endif %}

{% endblock %}

{% block content %}

  <div class="page_content">
    <h1>Upsell page</h1>
    <h2>Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},</h2>
    <h3><a href="{% url 'clc_reg:purchase_membership' %}{% if message == 'redir_from_plus' %}?type=plus{% else %}?type=premium{% endif %}">Purchase a membership</a></h3>
  </div>

{% endblock %}
